<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=pageTitle%>
  </title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <div id="header">
    <nav>
      <a href="/" class="<%= page == 'home' ? 'active' : '' %>">HOME</a>
      <a href="/about" class="<%= page == 'about' ? 'active' : '' %>">ABOUT</a>
    </nav>
  </div>
  <%- include('pages/'+page, { ...data }) %>

    <script src="/index.js"></script>
</body>

</html>